h1 {
	color: white;
	font-size: 50px;
	text-align: center;
}

h2 {
	color: white;
	text-align:center;
	font-size: 30px;
}

.buttonSpacer {
	margin-left: 3%;
}
.entitle {
	margin-top: 4%;
	border-color: white;
	border-style: solid;
	border-width: 3px;
}

.sportB {
	background-color:lime;
	border-color: white;
	margin-left: 5%;
	margin-top:1%;
	color: black;
	font-weight: bold;
}

#addSport {
	background-color: lime;
	margin-bottom: 10px;
	font-size: 15px;
}

#bodyDoc {
	background-color: black;
}


#focusedInput {
	background-color: palegreen;
	margin-left: 3%;
	width: 95%;
}

#search {
	color: white;
	margin-left: 5%;
	margin-top: 2%;
}