h1 {
	color: white;
	font-size: 30px;
	text-align: center;
}
.buttonSpacer {
	margin-left: 3%;
}
.entitle {
	margin-top: 4%;
}

.sportB {
	background-color:lime;
	border-color: white;
	margin-left: 5%;
	margin-top:1%;
	color: black;
	font-weight: bold;
}

#addSport {
	background-color: lime;
	margin-bottom: 10px;
	font-size: 15px;
}

#bodyDoc {
	background-color: green;
}


#focusedInput {
	background-color: palegreen;
	margin-left: 3%;
	width: 95%;
}

#search {
	color: white;
	margin-left: 5%;
	margin-top: 2%;
}